# ===================================================================
# tp-animtoolkit-maya requirements file
# ===================================================================

tp-dcc-common
tp-dcc-core
tp-dcc-maya